<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/TICTACTOE/tictactoe.css">
</head>

<body>
    <div class="top">
        <h1>Tic Tac Toe</h1>
        <div class="players">
            <div class="player1">PLAYER1</div>
            <div class="player2">PLAYER2</div>
        </div>
        </h2>
    </div>
    <div class="container">
        <div class="grid">
            <div class="box" id="1" value="k"></div>
            <div class="box" id="2" value="0"></div>
            <div class="box" id="3" value="0"></div>
            <div class="box" id="4" value="0"></div>
            <div class="box" id="5" value="0"></div>
            <div class="box" id="6" value="0"></div>
            <div class="box" id="7" value="0"></div>
            <div class="box" id="8" value="0"></div>
            <div class="box" id="9" value="0"></div>
        </div>
    </div>
    <div class="winner">
        <div>WINNER Player ::<h2 id="win"></h2></div>
    </div>
    <script src="/TICTACTOE/tictactoe.js"></script>
</body>

</html>